.container {
  width: 100%; /* Occupe toute la largeur de la fenêtre */
  height: 100vh; /* La hauteur de toute la fenêtre visible */
  background: #170B2F;
  overflow: hidden; /* Évite tout scroll général indésirable */
  display: flex; /* Utilise un layout flex pour faciliter la gestion verticale */
  flex-direction: column; /* Aligne les enfants verticalement */
}

.content {
  width: 100%; /* Toute la largeur */
  flex: 1; /* Prend toute la hauteur restante après l'en-tête */
  padding: 0 20px; /* Retire le padding en haut et en bas */
  overflow: auto; /* Active un scroll si le contenu dépasse */
}
