<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<div class="header">
  <div class="logo" (click)="goToHome()">GameTracker</div>
  <div class="nav">
    <div (click)="goToAbout()">À propos de nous</div>
    <div (click)="goToReviews()">Reviews</div>
    <div (click)="goToDevMode()">Mode développeur</div>
    <div (click)="goToGameList()">Liste des jeux</div>
  </div>
  <div class="profile" (click)="goToProfile()">Mon profil</div>
</div>
