/* Réinitialisation du style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background: #221E55;
  padding: 10px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-family: 'Orbitron', sans-serif;
  color: #D000BB; /* Couleur par défaut */
  font-weight: bold;
  cursor: pointer; /* Ajout du curseur pointer pour le rendre cliquable */
  transition: color 0.3s ease; /* Transition fluide sur les changements */
}

.logo:hover {
  color: #9A0080; /* Couleur de surbrillance au survol : plus sombre */
}

.logo:active {
  color: #750061; /* Couleur temporaire lors du clic : encore plus sombre */
}

.nav {
  display: flex;
  gap: 15px;
}

.nav div {
  font-size: 0.9rem;
  color: #FFFFFF; /* Ajout de la couleur blanche */
  cursor: pointer;
  transition: color 0.3s;
  font-family: 'Inter', serif;
}

.nav div:hover {
  color: #D000BB;
}

.nav-profile {
  display: flex;
  gap: 15px; /* Espacement entre les éléments .nav et .profile */
  align-items: center;
}

.profile {
  background: #D000BB;
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: opacity 0.3s;
  color: white;
  font-family: 'Inter',serif;
}

.profile:hover {
  opacity: 0.8;
}

/* Adaptation pour les petits écrans */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
