<div class="chat-container">
  <div class="chat-header">
    <div class="profile-picture">
      <img src="https://placehold.co/61x61" alt="Profil">
    </div>
    <div class="username">{{ friend.name }}</div>
    <button class="back-button">Retour</button> <!-- Le bouton retour -->
  </div>

  <div class="chat-messages" #messagesContainer>
    <div *ngFor="let message of messages" [class]="message.sender">
      <p>{{ message.text }}</p>
    </div>
  </div>

  <div class="chat-input">
    <input type="text" #messageInput placeholder="Écris ton message..." />
    <button (click)="sendMessage(messageInput)">Envoyer</button>
  </div>
</div>
