<div class="notifications-container">
  <!-- Titre des notifications -->
  <div class="notifications-title">
    Notifications
  </div>

  <!-- Si aucune notification -->
  <div *ngIf="pendingRequests.length === 0" class="no-notifications">
    Aucune demande d'amitié en attente.
  </div>

  <!-- Affichage des demandes -->
  <div *ngFor="let request of pendingRequests" class="notification">
    <div class="content">
      <strong>Demande d’ajout</strong>
      <p>de la part de <b>{{ request.username }}</b></p>
    </div>

    <div class="notification-actions">
      <button *ngIf="request.id !== undefined" class="accept-button" (click)="acceptFriendRequestByUserIds(request.id)">Accepter</button>
      <button *ngIf="request.id !== undefined" class="decline-button"(click)="removeFriend(request)">Refuser</button>
    </div>
  </div>
</div>
