<div class="profile-container">
  <img class="profile-img" src="https://placehold.co/183x183" />

  <label class="player-name">Nom du joueur</label>

  <button class="edit-profile" (click)="goToEditerProfil()" >Editer le profil</button>

  <label class="friends-label">AMIS :</label>
  <label class="friends-count">{{ friendsCount }}</label>

  <label class="hours-label">HEURES DE JEU :</label>
  <label class="hours-count">{{ hoursCount }}</label>

  <label class="rank-label">RANG :</label>
  <label class="rank-count">{{ rank }}</label>

  <img class="icon" src="https://placehold.co/35x35" />

  <button class="icon-btn" (click)="goToNotifications()"> </button>

  <button class="social-btn" (click)="goToSocial()">Social</button>
</div>
