<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<div class="profile-container">
  <!-- Section : Profil et actions -->
  <div class="profile-info-section">
    <div class="profile-header">
      <img class="profile-img" src="https://placehold.co/183x183" />
      <label class="player-name">{{username}}</label>
    </div>

    <!-- Conteneur des boutons -->
    <div class="profile-details">
      <button class="edit-profile" (click)="goToEditerProfil()">
        <i class="fa-solid fa-user-pen"></i>&nbsp; Éditer le profil
      </button>
      <button class="social-btn" (click)="goToSocial()">
        <i class="fa-solid fa-users"></i>&nbsp; Social
      </button>
      <button class="log-out" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>&nbsp; Déconnexion
      </button>
    </div>
  </div>

  <!-- Section : Statistiques -->
  <div class="stats-section">
    <div class="stat">
      <label class="stat-title">AMIS :</label>
      <label class="stat-value">{{ friendsCount }}</label>
    </div>
    <div class="stat">
      <label class="stat-title">HEURES DE JEU :</label>
      <label class="stat-value">{{ hoursCount }}</label>
    </div>
    <div class="stat">
      <label class="stat-title">POINTS :</label>
      <label class="stat-value">{{ totalPoints }}</label>
    </div>
  </div>

  <!-- Section : Boutons supplémentaires -->
  <div class="extra-buttons">
    <button class="iconic-btn" (click)="goToNotifications()">
      <i class="fa-solid fa-bell"></i>
      Notifications
    </button>
    <button class="iconic-btn" (click)="goToNotifications()">
      <i class="fa-solid fa-trophy"></i>
      Trophées
    </button>
  </div>
</div>
