<div class="login-container">
  <main class="main-content">
    <h1 class="title">Ajouter un ami</h1>

    <form class="login-form" (submit)="envoyerDemandeAmi(); $event.preventDefault()">
      <div class="form-group">
        <mat-form-field class="mat" appearance="outline">
          <mat-label>ID de l'ami</mat-label>
          <input matInput [(ngModel)]="ami" name="ami" placeholder="Entrez l'ID de l'ami">
          <button *ngIf="ami" mat-icon-button aria-label="Clear" (click)="ami=''">
            <mat-icon>✖</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="!ami">Ajouter</button>
        <button mat-raised-button color="warn" type="button" (click)="goToSocial()">Annuler</button>
      </div>
    </form>
  </main>
</div>
