.home-container {
  padding: 1rem;
  font-family: Arial, sans-serif;
  color: #333;

  h1 {
    color: #221e55;
  }

  .loading {
    font-size: 1.2rem;
    font-weight: bold;
    color: #d000bb;
  }

  ul {
    list-style: none;
    padding: 0;

    .user-item {
      padding: 0.5rem;
      margin: 0.5rem 0;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }

  div {
    font-size: 1rem;
    color: #555;
  }
}
