<div class="container">
  <div class="header">
    <h2 class="title">Liste des Amis</h2>
  </div>
  <div *ngFor="let friend of friends" class="user-card">
    <div class="user-avatar">
      <img src="https://via.placeholder.com/60" alt="{{ friend.username }}'s Avatar">
    </div>

    <div class="user-info">
      <div class="user-name">{{ friend.username }}</div>
    </div>

    <div class="user-actions">
      <button class="action-button" (click)="goDiscussions(friend.username)">
        💬 Discuter
      </button>
      <button class="delete-button" (click)="removeFriend(friend)">
        Supprimer
      </button>
    </div>
  </div>
  <button class="add-friend-button" (click)="goAjouterAmi()">
    ➕ Ajouter un ami
  </button>
</div>
