<div class="container">
  <header class="header">
    <div class="title">Vos amis</div>
  </header>

  <section class="separator"></section>
  <button class="action-button" (click)="goAjouterAmi()" >Ajouter un ami</button>
  <!-- Liste des utilisateurs -->
  <div class="user-list">
    <section *ngFor="let friend of friends" class="user-card">
      <div class="user-avatar">
        <img [src]="friend.avatar" alt="User Avatar" />
      </div>
      <div class="user-info">
        <span class="user-name">{{ friend.name }}</span>
      </div>
      <div class="user-discussion">
        <img [src]="friend.discussion" alt="Action Icon"(click)="goDiscussions(friend.name)" />
      </div>
      <div class="user-supprimer">
        <img [src]="friend.supprimer" alt="Action Icon" />
      </div>
    </section>
  </div>


</div>
